<div class="container">
  <div class="menu-header">
    <h2>Our Menu</h2>

  </div>

  <!-- Menu Items -->
  <div class="d-flex flex-wrap gap-3 justify-content-center">
    <div class="card-group justify-content-center">
      <div class="" *ngFor="let drink of filteredDrinks">
        <div class="card menu-grid" style="width: 13rem;">
          <img [src]="isImagePath(drink.image) ? drink.image : '/images/noImage.jpg'" class="card-img-top" [alt]="drink.name">
          <div class="card-body">
            <h5 class="card-title">{{ drink.name }}</h5>
            <p class="card-text">{{ drink.description }}</p>
            <button class="btn btn-primary w-100" (click)="openModal(drink)">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="drinkDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <ng-container *ngIf="selectedDrink() as drink">
            <img [src]="isImagePath(drink.image) ? drink.image : '/images/noImage.jpg'" class="card-img-top" [alt]="drink.name">
          </ng-container>
        </div>
        <div class="modal-body">
          <ng-container *ngIf="selectedDrink() as drink">
            <h5 class="drink-name">{{ drink.name }}</h5>
            <p class="drink-description">{{ drink.description }}</p>
          </ng-container>
          <div class="temperature-options">
            <button 
              *ngFor="let temperature of ['hot', 'cold']"
              [class]="'mx-1 btn size-btn ' + (selectedTemperature() === temperature ? 'active' : '')"
              (click)="onTemperatureClick(temperature)">
              {{ getLabel(temperature) }}
            </button>
          </div>
          <div class="size-options my-2">
            <button 
              *ngFor="let size of ['tall', 'grande', 'venti']" 
              [class]="'size-btn ' + (selectedSize() === size ? 'active' : '')"
              (click)="onSizeButtonClick(size)">
              {{ getLabel(size) }}
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <ng-container *ngIf="selectedDrink() as drink">
            <span class="current-price">${{ getPrice(drink).toFixed(2) }}</span>
          </ng-container>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" *ngIf="selectedDrink() as drink" (click)="addToCart(drink)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  <div class="no-items" *ngIf="filteredDrinks.length === 0">
    <p>No drinks found matching your criteria.</p>
  </div>
</div>